{
  "id": "{{.ID}}",
  "title": "{{.Title}}",
  "description": "{{.Description}}",
  "owner": "{{.Owner}}",
  "taken": "{{.Taken}}",
  "posted": "{{.Posted}}",
  "tags": {{json .Tags}},
  "url": "{{.URL}}",
  "license": "{{.License}}",
  "safety": "{{.Safety}}",
  "media": "{{.Media}}",
  "original_width": {{.OriginalWidth}},
  "original_height": {{.OriginalHeight}}
}
