id,title,owner,taken,posted,album,tags,license,safety,media,url,path
{{range .Photos}}{{.ID}},{{.Title}},{{.Owner}},{{.Taken}},{{.Posted}},{{.Album}},{{.Tags}},{{.License}},{{.Safety}},{{.Media}},{{.URL}},{{.Path}}
{{end}}
